<h1>ARQUITECTURA Y DISEÑO</h1>
<p>
  A2M Arquitectos es un estudio de arquitectura e interiorismo con sede en
  Sevilla, Málaga y Badajoz, ​​siendo nuestro alcance geográfico de gran
  expansión, tanto a nivel nacional como internacional. Fundado por por Antonio
  Matamoros y Alejandro Montes.Trabajamos internacionalmente en proyectos
  comerciales, residenciales, corporativos, hoteleros y sanitarios; ofreciendo
  servicios integrales de arquitectura, diseño interior y de inmobiliaria.
</p>

<h2>Reforma y vende</h2>
<p>
  Ofrecemos como siempre nuestras mejores ideas a precios muy razonables.
  Contamos con una amplia experiencia demostrable en el sector. Todo esto es
  posible gracias a los magníficos profesionales que comprenden nuestros equipos
  técnicos, de diseño y todos los que hacemos posible.
</p>

<div class="juxtapose">
  <iframe
    title="Comparativa Reforma"
    name="Reforma: Antes y despues"
    class="juxtapose"
    width="100%"
    height="1129.1881188118812"
    src="https://cdn.knightlab.com/libs/juxtapose/latest/embed/index.html?uid=bfeecc06-295a-11ef-9396-d93975fe8866"
  ></iframe>
</div>

<h3>Oficina Técnica</h3>
<div class="flex-content">
  <div class="flex-item">
    <img
      src="../../../assets/inspeccion-tecnica-de-edificios.jpg"
      alt="inspección técnica"
    />
    <div>
      <h4>INSPECCIÓN TÉCNICA DE EDIFICIOS</h4>
    </div>
  </div>
  <div class="flex-item">
    <img
      src="../../../assets/aperturas.png"
      alt="aperturas"
    />
    <div>
      <h4>APERTURAS</h4>
    </div>
  </div>
  <div class="flex-item">
    <img
      src="../../../assets/licencias.jpg"
      alt="licencias"
    />
    <div>
      <h4>LICENCIAS</h4>
    </div>
  </div>
  <div class="flex-item">
    <img
      src="../../../assets/certificados-tecnicos.jpg"
      alt="certificados técnicos"
    />
    <div>
      <h4>CERTIFICADOS TÉCNICOS</h4>
    </div>
  </div>
</div>
